body {
  background: black;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
}

.content {
  font-size: 16px;
  background: #e3f4ff;
  margin-bottom: 10px;
}

.button-container {
  background: #e3f4ff;
  padding: 30px;
  margin-left: auto;
  text-align: center;
}

button {
  margin-top: 10px;
  margin: auto;
  font-size: 16px;
  display: block;
  background: white;
  border: 1px solid white;
}